{% extends 'lms/base.html' %} 

{% load static %} 
{% block content %} 
<div class="row">
  <a href="{% url 'assessment' category   %}" class="btn btn-primary" style="margin-bottom: 1rem;">View Assessment</a>
    {% for i in threedModel %}
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href="{% url 'arcamera' i.id %}"><img src="{{i.image.url}}" class="card-img-top rounded-0" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">{{i.name | title }}</h6>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
