{% extends 'lms/base.html' %} 

{% load static %} 
{% block content %} 
<div class="row">
    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href=""><img src="{% static 'assets/images/products/s4.jpg' %}" class="card-img-top rounded-0" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Boat Headphone</h6>
        </div>
      </div>
    </div>
</div>

{% endblock %}
