{% extends 'lms/base.html' %} 

{% load static %} 
{% block content %} 
<div class="row">
    <div class="col-6 col-md-3 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href="{% url 'categories' 'alphabets' %}"><img src="{% static 'assets/images/products/s4.jpg' %}" class="card-img-top rounded-0" height="200" width="100%" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Alphabet</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href="{% url 'categories' 'colors' %}"><img src="{% static 'assets/images/products/s4.jpg' %}" class="card-img-top rounded-0" height="200" width="100%" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Colors</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href="{% url 'categories' 'shapes' %}"><img src="{% static 'assets/images/products/s4.jpg' %}" class="card-img-top rounded-0" height="200" width="100%" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Shapes</h6>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href="{% url 'categories' 'numbers' %}"><img src="{% static 'assets/images/products/s4.jpg' %}" class="card-img-top rounded-0" height="200" width="100%" alt="..."></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">Numbers</h6>
        </div>
      </div>
    </div>
</div>

{% endblock %}
