{% extends 'lms/base.html' %}

{% load static %}
{% block content %}

<div class="card-body">
    <h3 class="card-title fw-semibold mb-4">{{ quiz.name | title }}</h3>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{% url 'sumbit_assesment' quiz.id %}">
                {% csrf_token %}
                {% for question in multiple_choices %}
                    <div class="mb-3">
                        <h4 class="form-label">{{ question.question }}</h4>
                        
                        {% if question.image %}
                        <div style="text-align: center; margin: 20px 0;">
                            <img src="{{ question.image.url }}" alt="Question Image" style="max-width: 100%; width: 300px; height: auto;">
                        </div>
                        {% endif %}

                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="answer_{{ forloop.counter }}" id="question{{ forloop.counter }}Option1" value="{{ question.option1 }}">
                            <label class="form-check-label" for="question{{ forloop.counter }}Option1">A) {{ question.option1 }}</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="answer_{{ forloop.counter }}" id="question{{ forloop.counter }}Option2" value="{{ question.option2 }}">
                            <label class="form-check-label" for="question{{ forloop.counter }}Option2">B) {{ question.option2 }}</label>
                        </div>
                        {% if question.option3 %}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="answer_{{ forloop.counter }}" id="question{{ forloop.counter }}Option3" value="{{ question.option3 }}">
                            <label class="form-check-label" for="question{{ forloop.counter }}Option3">C) {{ question.option3 }}</label>
                        </div>
                        {% endif %}
                        {% if question.option4 %}
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="answer_{{ forloop.counter }}" id="question{{ forloop.counter }}Option4" value="{{ question.option4 }}">
                            <label class="form-check-label" for="question{{ forloop.counter }}Option4">D) {{ question.option4 }}</label>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
